{% extends "UsersUserManageBundle::layout.html.twig" %}
  {% block content %}
  <script type="text/javascript">
    var path = '{{path("checkusername", {"id": "2"})}}';
   
  </script>
 <script type="text/javascript" src="{{ asset('bundles/UsersUserManage/js/reseller.js') }}"></script>
   <!--  start Mid-section Code-->
    <div class="mid-section">
    {# Including Side Bar  #}
    {% include "UsersUserManageBundle::sidebar.html.twig" %}
    <div class="right-panel">
      {{ form_start(form) }}
      <div class="heading">
        <h1>Reseller Information</h1>
      </div>
      <div class="form-box">
        <div class="form-head">General Information</div>
          <div class="col">
            <div class="form-control">
              <label>Salutation</label>
                <div class="ui-ctrl">
                 {% if id > 0  %}
                   {{ form_widget(form.salutation,{'value':reseller.salutation } ) }}
              {% else %}  
                   {{ form_widget(form.salutation) }}
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="form-control height_40px">              
              <label>First Name<span class="red">*</span></label>
              <div class="ui-ctrl">
              {% if id > 0  %}
                {{ form_widget(form.first_name,{'value':reseller.firstName } ) }}
              {% else %}  
                {{ form_widget(form.first_name) }}
              {% endif %}
              <span id='no_li_css'>{{ form_errors(form.first_name) }} </span>
              </div>
              <div class="clear"></div>
            </div>
            {% if not id %}
            <div class="form-control height_40px">
              <label>User Name<span class="red">*</span></label>
              <div class="ui-ctrl">
			 
              {{ form_widget(form.username) }}
			 
              <span id='no_li_css'>{{ form_errors(form.username) }} </span>
              </div>
              <div class="clear"></div>
            </div>
            
			{% endif %}
      <div class="form-control height_40px">
              <label>Test Account</label>
              <div class="ui-ctrl">
                {{ form_widget(form.is_test_account) }}
              </div>
              <div class="clear"></div>
            </div> 
	   <div class="form-control height_40px">
              <label>Email</label>
              <div class="ui-ctrl">
              {% if id > 0  %}
                {{ form_widget(form.email,{'value':reseller.email } ) }}
              {% else %}  
                {{ form_widget(form.email) }}
              {% endif %}
              <span id='no_li_css'>{{ form_errors(form.email) }} </span>
              </div>
              <div class="clear"></div>
            </div> 
          </div>
          <div class="col">
            
            <div class="form-control">
                 <label>Account Type</label>
                 <div class="ui-ctrl">
                     {{ form_widget(form.account_type) }}</div>
                  <div class="clear"></div>
            </div>
            <div class="form-control height_40px">
              <label>Last Name <span class="red">*</span></label>
              <div class="ui-ctrl">
              {% if id > 0  %}
              {{ form_widget(form.last_name,{'value':reseller.lastName}) }}
               {% else %}  
                 {{ form_widget(form.last_name) }}
              {% endif %}
              <span id='no_li_css'>{{ form_errors(form.last_name) }} </span>
              </div>
              <div class="clear"></div>
            </div>     
            {% if not id %}
            <div class="form-control">
                <label>Password<span class="red">*</span></label>
                <div class="ui-ctrl">                
                {{ form_widget(form.password) }}                
                <span id='no_li_css'>{{ form_errors(form.password) }} </span>               
               </div>
              <div class="clear"></div>
            </div>
             {% endif %}
             <div class="form-control">
                {{form_label(form.status)}}
                <div class="ui-ctrl">
               
                   {{ form_widget(form.status) }}
                           
               </div>
              <div class="clear"></div>
            </div>
          </div>       
          <div class="clear"></div>
          <div class="col" style='border:0px solid #000000;'>
            <div class="form-control">
              &nbsp;
            </div>
          </div>  
          <div class="col" style='border:0px solid #000000;'>
            <div class="form-control">
              <div>
                   <div class="height_40px padding_right_6px">
                     {{ form_widget(form.id,{'value':id}) }}
                    {{ form_widget(form.Submit) }}
                   </div>
                  <div class="clear"></div>
              </div>
            </div>
          </div>  
          <div class="clear"></div>
      </div>
    {{ form_end(form) }}  
</div>
</div>
<!--  End Mid-section Code-->
<div class="footer">© 2014 All Rights Reserved</div>
</div>
{% endblock %}